# virtual environment
bin
include
lib
pyvenv.cfg

# data
src/screenshots
src/dataset
src/dataset-sirenlight
etc

# files
models
utils
forum_detect.txt
test.py

# etc
Graduation Paper.docx
chromedriver
.DS_Store
Src/.DS_Store